
@{ ViewBag.Title = "Admin Navigator"; }

    @*<nav class="navbar navbar-expand-md navbar-dark fixed-end bg-gradient-faded-danger">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">E-Commerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Admin/Login/Logout">Log out</a>
                    </li>



                </ul>
              
            </div>
        </div>
    </nav>*@



    <dl>

        <dt>
            <a href="/Admin/users_info/Index">Users info</a>

        </dt>

        <dt>
            <a href="/Admin/categories/Index">Categories</a>

        </dt>





        <dt>
            <a href="/Admin/brands/Index">Brands</a>

        </dt>

        <dt>
            <a href="/Admin/products/Index">Products</a>

        </dt>

        <br />


        <dt class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Admin/Login/Logout">Log out</a>
        </dt>
    </dl>



